<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.media"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.providers.downloads.ui"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"/>
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS"/>
    <application
        android:label="@string/app_label"
        android:icon="@mipmap/ic_launcher_download"
        android:process="android.process.media"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:requiredForAllUsers="true">
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.providers.downloads.ui.TrampolineActivity"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.provider.action.MANAGE_DOCUMENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:mimeType="*/*"
                    android:scheme="content"
                    android:host="com.android.providers.downloads.documents"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
