<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.phone"
    android:versionCode="28"
    android:versionName="9"
    android:sharedUserLabel="@string/phoneAppLabel"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    coreApp="true"
    package="com.android.phone"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="28"/>
    <original-package android:name="com.android.phone"/>
    <protected-broadcast android:name="android.telecom.action.TTY_PREFERRED_MODE_CHANGED"/>
    <protected-broadcast android:name="android.telecom.action.CURRENT_TTY_MODE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.SERVICE_STATE"/>
    <protected-broadcast android:name="android.intent.action.RADIO_TECHNOLOGY"/>
    <protected-broadcast android:name="android.intent.action.EMERGENCY_CALLBACK_MODE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.EMERGENCY_CALL_STATE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.SIG_STR"/>
    <protected-broadcast android:name="android.intent.action.ANY_DATA_STATE"/>
    <protected-broadcast android:name="android.intent.action.DATA_CONNECTION_FAILED"/>
    <protected-broadcast android:name="android.intent.action.DATA_STALL_DETECTED"/>
    <protected-broadcast android:name="android.intent.action.SIM_STATE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.NETWORK_SET_TIME"/>
    <protected-broadcast android:name="android.intent.action.NETWORK_SET_TIMEZONE"/>
    <protected-broadcast android:name="com.android.internal.intent.action.ACTION_SHOW_NOTICE_ECM_BLOCK_OTHERS"/>
    <protected-broadcast android:name="android.intent.action.ACTION_MDN_STATE_CHANGED"/>
    <protected-broadcast android:name="android.provider.Telephony.SPN_STRINGS_UPDATED"/>
    <protected-broadcast android:name="android.provider.Telephony.SIM_FULL"/>
    <protected-broadcast android:name="com.android.internal.telephony.data-restart-trysetup"/>
    <protected-broadcast android:name="com.android.internal.telephony.data-stall"/>
    <protected-broadcast android:name="android.intent.action.DATA_SMS_RECEIVED"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_RECEIVED"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_DELIVER"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_REJECTED"/>
    <protected-broadcast android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
    <protected-broadcast android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_CB_RECEIVED"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_EMERGENCY_CB_RECEIVED"/>
    <protected-broadcast android:name="android.provider.Telephony.SECRET_CODE"/>
    <protected-broadcast android:name="com.android.internal.stk.command"/>
    <protected-broadcast android:name="com.android.internal.stk.session_end"/>
    <protected-broadcast android:name="com.android.internal.stk.icc_status_change"/>
    <protected-broadcast android:name="com.android.internal.stk.alpha_notify"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_SIGNAL_REDIRECTED"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_SIGNAL_REQUEST_NETWORK_FAILED"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_SIGNAL_PCO_VALUE"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_SIGNAL_RESET"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_SIGNAL_DEFAULT_NETWORK_AVAILABLE"/>
    <protected-broadcast android:name="com.android.internal.provider.action.VOICEMAIL_SMS_RECEIVED"/>
    <protected-broadcast android:name="com.android.intent.isim_refresh"/>
    <protected-broadcast android:name="com.android.ims.ACTION_RCS_SERVICE_AVAILABLE"/>
    <protected-broadcast android:name="com.android.ims.ACTION_RCS_SERVICE_UNAVAILABLE"/>
    <protected-broadcast android:name="com.android.ims.ACTION_RCS_SERVICE_DIED"/>
    <protected-broadcast android:name="com.android.ims.ACTION_PRESENCE_CHANGED"/>
    <protected-broadcast android:name="com.android.ims.ACTION_PUBLISH_STATUS_CHANGED"/>
    <protected-broadcast android:name="com.android.ims.IMS_SERVICE_UP"/>
    <protected-broadcast android:name="com.android.ims.IMS_SERVICE_DOWN"/>
    <protected-broadcast android:name="com.android.ims.IMS_INCOMING_CALL"/>
    <protected-broadcast android:name="com.android.ims.internal.uce.UCE_SERVICE_UP"/>
    <protected-broadcast android:name="com.android.ims.internal.uce.UCE_SERVICE_DOWN"/>
    <protected-broadcast android:name="com.android.imsconnection.DISCONNECTED"/>
    <protected-broadcast android:name="com.android.intent.action.IMS_FEATURE_CHANGED"/>
    <protected-broadcast android:name="com.android.intent.action.IMS_CONFIG_CHANGED"/>
    <protected-broadcast android:name="com.android.ims.REGISTRATION_ERROR"/>
    <protected-broadcast android:name="com.android.phone.vvm.omtp.sms.REQUEST_SENT"/>
    <protected-broadcast android:name="com.android.phone.vvm.ACTION_VISUAL_VOICEMAIL_SERVICE_EVENT"/>
    <protected-broadcast android:name="com.android.internal.telephony.CARRIER_VVM_PACKAGE_INSTALLED"/>
    <protected-broadcast android:name="com.android.cellbroadcastreceiver.GET_LATEST_CB_AREA_INFO"/>
    <protected-broadcast android:name="com.android.internal.telephony.ACTION_CARRIER_CERTIFICATE_DOWNLOAD"/>
    <protected-broadcast android:name="android.telephony.action.SIM_CARD_STATE_CHANGED"/>
    <protected-broadcast android:name="android.telephony.action.SIM_APPLICATION_STATE_CHANGED"/>
    <protected-broadcast android:name="android.telephony.action.SIM_SLOT_STATUS_CHANGED"/>
    <protected-broadcast android:name="android.telephony.action.SUBSCRIPTION_CARRIER_IDENTITY_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.intent.action.STARTSELF_LTE_SEARCH_TIMEOUT_CHECK"/>
    <protected-broadcast android:name="com.mediatek.settings.sim.ACTION_SUBINFO_RECORD_UPDATED"/>
    <protected-broadcast android:name="action_wfc_summary_change"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_IMS_CALL_SERVICE"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_SMS"/>
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.PERFORM_CDMA_PROVISIONING"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.UPDATE_LOCK"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.android.smspush.WAPPUSH_MANAGER_BIND"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.REGISTER_CALL_PROVIDER"/>
    <uses-permission android:name="android.permission.REGISTER_SIM_SUBSCRIPTION"/>
    <uses-permission android:name="android.permission.BIND_IMS_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_CARRIER_SERVICES"/>
    <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_EUICC_SERVICE"/>
    <uses-permission android:name="com.android.permission.BIND_TELEPHONY_NETWORK_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL"/>
    <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL"/>
    <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL"/>
    <uses-permission android:name="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_DEVICE_IDLE_TEMP_WHITELIST"/>
    <uses-permission android:name="android.permission.READ_BLOCKED_NUMBERS"/>
    <uses-permission android:name="android.permission.WRITE_BLOCKED_NUMBERS"/>
    <uses-permission android:name="android.permission.NETWORK_SETTINGS"/>
    <uses-permission android:name="com.mediatek.ppl.permission.ACCESS_PPL_MANAGER"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY"/>
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY"/>
    <uses-permission android:name="android.permission.BIND_TELEPHONY_DATA_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <application
        android:label="@string/phoneAppLabel"
        android:icon="@mipmap/ic_launcher_phone"
        android:name="PhoneApp"
        android:persistent="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <meta-data
            android:name="dmkey"
            android:value="A100000007"/>
        <provider
            android:name="IccProvider"
            android:readPermission="android.permission.READ_CONTACTS"
            android:writePermission="android.permission.WRITE_CONTACTS"
            android:exported="true"
            android:multiprocess="true"
            android:authorities="icc"/>
        <activity
            android:theme="@style/EmergencyDialerTheme"
            android:label="@string/emergencyDialerIconLabel"
            android:name="EmergencyDialer"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.android.phone.EmergencyDialer.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.phone.EmergencyDialer.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <activity android:name="ADNList"/>
        <activity
            android:theme="@style/SimImportTheme"
            android:label="@string/simContacts_title"
            android:icon="@mipmap/ic_launcher_contacts"
            android:name="SimContacts"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/sim-contact"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/fdnListLabel"
            android:name="com.android.phone.settings.fdn.FdnList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/sim-contact"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.internal.telephony.uicc.InstallCarrierAppTrampolineActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:label="@string/network_settings_title"
            android:name="MobileNetworkSettings"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.NETWORK_OPERATOR_SETTINGS"/>
                <action android:name="android.settings.DATA_ROAMING_SETTINGS"/>
                <action android:name="com.dmyk.android.telephony.action.VOLTE_STATE_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name="Settings"
            android:targetActivity="MobileNetworkSettings"/>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:label="@string/choose_network_title"
            android:name="NetworkSelectSettingActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="NetworkQueryService"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/gsm_umts_options"
            android:name="GsmUmtsCallOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/cdma_options"
            android:name="CdmaCallOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/labelCF"
            android:name="GsmUmtsCallForwardOptions"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|mnc|mcc"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/CallSettingsWithoutDividerTheme"
            android:label="@string/labelCallBarring"
            android:name="GsmUmtsCallBarringOptions"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/labelGSMMore"
            android:name="GsmUmtsAdditionalCallOptions"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/fdn"
            android:name="com.android.phone.settings.fdn.FdnSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/enable_pin"
            android:name="EnableIccPinScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/change_pin"
            android:name="ChangeIccPinScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/VoiceMailSettingsLight"
            android:label="@string/get_pin2"
            android:name="com.android.phone.settings.fdn.GetPin2Screen"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:name="com.android.phone.settings.fdn.EditFdnContactScreen"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/delete_fdn_contact"
            android:name="com.android.phone.settings.fdn.DeleteFdnContactScreen"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/call_settings"
            android:name="CallFeaturesSetting"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.telecom.action.SHOW_CALL_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.android.phone.otasp.OtaspActivationService"
            android:launchMode="singleInstance"
            androidprv:config_cecQuerySadOnebitaudioEnabled_default="true">
            <intent-filter>
                <action android:name="android.service.simActivation.SimActivationService"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.android.phone.otasp.OtaspSimStateReceiver"
            android:exported="false"
            androidprv:config_cecQuerySadOnebitaudioEnabled_default="true">
            <intent-filter>
                <action android:name="android.telephony.action.CARRIER_CONFIG_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/accessibility_settings_activity_title"
            android:name="com.android.phone.settings.AccessibilitySettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.telecom.action.SHOW_CALL_ACCESSIBILITY_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="EmergencyCallbackModeService"/>
        <service
            android:name="com.android.phone.TelephonyDebugService"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.android.phone.TelephonyDebugService"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.android.phone.euicc.EuiccUiDispatcherActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.telephony.euicc.action.MANAGE_EMBEDDED_SUBSCRIPTIONS"/>
                <action android:name="android.telephony.euicc.action.PROVISION_EMBEDDED_SUBSCRIPTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.phone.euicc.EuiccResolutionUiDispatcherActivity"
            android:permission="android.permission.CALL_PRIVILEGED">
            <intent-filter android:priority="1000">
                <action android:name="android.telephony.euicc.action.RESOLVE_ERROR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/ecm_exit_dialog"
            android:name="EmergencyCallbackModeExitDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.phone.action.ACTION_SHOW_ECM_EXIT_DIALOG"/>
                <action android:name="com.android.internal.intent.action.ACTION_SHOW_NOTICE_ECM_BLOCK_OTHERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:label="@string/sip_connection_service_label"
            android:name="com.android.services.telephony.sip.SipConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.android.services.telephony.sip.SipIncomingCallReceiver">
            <intent-filter>
                <action android:name="com.android.phone.SIP_INCOMING_CALL"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.android.services.telephony.sip.SipPhoneAccountSettingsActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.telecom.action.CONFIGURE_PHONE_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="Sip Settings"
            android:name="com.android.services.telephony.sip.SipSettings"
            android:launchMode="singleTop"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="com.android.phone.CallFeaturesSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.net.sip.NOTIFY"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:name="com.android.services.telephony.sip.SipEditor"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:theme="@style/Empty"
            android:name="MMIDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/phone_accounts"
            android:name="com.android.phone.settings.PhoneAccountSettingsActivity"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.telecom.action.CHANGE_PHONE_ACCOUNTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/VoiceMailSettingsLight"
            android:label="@string/voicemail"
            android:name="com.android.phone.settings.VoicemailSettingsActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|mnc|mcc"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.android.phone.CallFeaturesSetting.ADD_VOICEMAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.telephony.action.CONFIGURE_VOICEMAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:label="@string/pstn_connection_service_label"
            android:name="com.android.services.telephony.TelephonyConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <provider
            android:name="PhoneSearchIndexablesProvider"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.android.phone"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <receiver
            android:name="com.android.phone.vvm.VvmSmsReceiver"
            android:exported="false"
            androidprv:config_cecQuerySadOnebitaudioEnabled_default="true">
            <intent-filter>
                <action android:name="com.android.internal.provider.action.VOICEMAIL_SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.phone.vvm.VvmSimStateTracker"
            android:exported="false"
            androidprv:config_cecQuerySadOnebitaudioEnabled_default="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.telephony.action.CARRIER_CONFIG_CHANGED"/>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.internal.telephony.uicc.ShowInstallAppNotificationReceiver"
            android:exported="false"/>
        <service
            android:name="com.android.phone.vvm.RemoteVvmTaskManager"
            android:exported="false"/>
        <service
            android:name="com.android.internal.telephony.CellularNetworkService"
            android:permission="android.permission.BIND_TELEPHONY_NETWORK_SERVICE">
            <intent-filter>
                <action android:name="android.telephony.NetworkService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.android.internal.telephony.dataconnection.CellularDataService"
            android:permission="android.permission.BIND_TELEPHONY_DATA_SERVICE">
            <intent-filter>
                <action android:name="android.telephony.data.DataService"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@style/SettingsLight"
            android:name="com.mediatek.settings.cdma.CdmaCallForwardOptions"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/SettingsLight"
            android:name="com.mediatek.settings.cdma.CdmaCLIRUtOptions"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
            android:name="com.mediatek.settings.cdma.CdmaCallWaitingUtOptions"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/gsm_umts_options"
            android:name="com.mediatek.settings.vtss.GsmUmtsVTCFOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/gsm_umts_options"
            android:name="com.mediatek.settings.vtss.GsmUmtsVTCBOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.mediatek.settings.cdma.LteDataOnlyManagerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mediatek.intent.action.LTE_DATA_ONLY_MANAGER"/>
            </intent-filter>
        </service>
        <service android:name="com.mediatek.settings.cdma.LteSearchTimeoutCheckService">
            <intent-filter>
                <action android:name="com.mediatek.intent.action.LTE_SEARCH_TIMEOUT_CHECK"/>
            </intent-filter>
        </service>
        <receiver android:name="com.mediatek.settings.cdma.LteDataOnlySwitchReceiver">
            <intent-filter>
                <action android:name="com.mediatek.intent.action.ACTION_NETWORK_CHANGED"/>
                <action android:name="com.mediatek.intent.action.STARTSELF_LTE_SEARCH_TIMEOUT_CHECK"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:label="@string/networks"
            android:name="com.mediatek.settings.FemtoPointList"
            android:configChanges="screenSize|orientation|keyboardHidden|mnc|mcc"/>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:name="com.mediatek.settings.PLMNListPreference"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|mnc|mcc"
            android:uiOptions="splitActionBarWhenNarrow"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:name="com.mediatek.settings.NetworkEditor"
            android:launchMode="singleTask"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|mnc|mcc"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/roaming_settings"
            android:name="com.mediatek.services.telephony.RoamingSettings"
            android:parentActivityName="MobileNetworkSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.mediatek.services.telephony.ACTION_SHOW_ROAMING_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MobileNetworkSettings"/>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/roam_alert_head"
            android:name="com.mediatek.services.telephony.GuardSettings"
            android:parentActivityName="com.mediatek.services.telephony.RoamingSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mediatek.services.telephony.RoamingSettings"/>
        </activity>
        <activity
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar"
            android:name="com.mediatek.services.telephony.RoamingAlertDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <receiver
            android:name="com.mediatek.services.telephony.RoamingSettingsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
                <action android:name="android.intent.action.SERVICE_STATE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
