<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="27"
    android:versionName="8.1.0-4396705"
    package="com.android.cts.priv.ctsshim"
    platformBuildVersionCode="27"
    platformBuildVersionName="8.1.0">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24"/>
    <restrict-update android:hash="3f73cf58e2e4c4f90a92c017206722aa091794bf5d082ffa31bd78122e8cec39dba496c8809e1578d6b383e75915c17e412624df7ab9e49d81132287cfab40fe"/>
    <application
        android:hasCode="false"
        android:multiArch="true">
        <activity android:name=".InstallPriority">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.SEND"/>
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.SENDTO"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeMatch">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.MATCH"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeMatchMultiple">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.MATCH_MULTIPLE"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
            <intent-filter android:priority="150">
                <action android:name="com.android.cts.action.MATCH_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data
                    android:host="www.google.com"
                    android:port="80"/>
                <data
                    android:host="www.google.com"
                    android:port="8080"/>
                <data
                    android:host="goo.gl"
                    android:port="443"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeLowerPriority">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.LOWER_PRIORITY"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeActionSubset">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.ACTION_SUB"/>
                <action android:name="com.android.cts.action.ACTION_SUB_2"/>
                <action android:name="com.android.cts.action.ACTION_SUB_3"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeCategorySubset">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.CATEGORY_SUB"/>
                <category android:name="android.intent.category.INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeSchemeSubset">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.SCHEME_SUB"/>
                <data android:scheme="content"/>
                <data android:scheme="flubber"/>
                <data android:scheme="zoodle"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeAuthoritySubset">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.AUTHORITY_SUB"/>
                <data
                    android:host="www.google.com"
                    android:port="80"/>
                <data
                    android:host="www.google.com"
                    android:port="8080"/>
                <data
                    android:host="mail.google.com"
                    android:port="80"/>
                <data
                    android:host="goo.gl"
                    android:port="443"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeNewAction">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.NEW_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeNewCategory">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.NEW_CATEGORY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeNewScheme">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.NEW_SCHEME"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:name=".UpgradeNewAuthority">
            <intent-filter android:priority="100">
                <action android:name="com.android.cts.action.NEW_AUTHORITY"/>
                <data
                    android:host="www.google.com"
                    android:port="80"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
