<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.se"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.se"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <application
        android:label="SecureElementApplication"
        android:name="com.android.se.SEApplication"
        android:persistent="true">
        <service android:name="com.android.se.SecureElementService">
            <intent-filter>
                <action android:name="android.omapi.ISecureElementService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
