<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.backupconfirm"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.CRYPT_KEEPER"/>
    <application
        android:allowClearUserData="false"
        android:permission="android.permission.CONFIRM_FULL_BACKUP"
        android:allowBackup="false">
        <activity
            android:name="com.android.backupconfirm.BackupRestoreConfirmation"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:title=""
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>
