<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.shared"
    android:versionCode="28"
    android:versionName="9"
    android:sharedUserLabel="@string/sharedUserLabel"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.providers.contacts"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.BIND_DIRECTORY_SEARCH"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.PROCESS_PHONE_ACCOUNT_REGISTRATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.SEND_CALL_LOG_CHANGE"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.USE_RESERVED_DISK"/>
    <permission
        android:label="Broadcast that a change happened to the call log."
        android:name="android.permission.SEND_CALL_LOG_CHANGE"
        android:protectionLevel="system|signature"/>
    <application
        android:label="@string/app_label"
        android:icon="@drawable/app_icon"
        android:process="android.process.acore"
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <provider
            android:label="@string/provider_label"
            android:name="ContactsProvider2"
            android:readPermission="android.permission.READ_CONTACTS"
            android:writePermission="android.permission.WRITE_CONTACTS"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="contacts;com.android.contacts"
            android:grantUriPermissions="true"
            android:visibleToInstantApps="true">
            <path-permission
                android:readPermission="android.permission.GLOBAL_SEARCH"
                android:pathPrefix="/search_suggest_query"/>
            <path-permission
                android:readPermission="android.permission.GLOBAL_SEARCH"
                android:pathPrefix="/search_suggest_shortcut"/>
            <path-permission
                android:readPermission="android.permission.GLOBAL_SEARCH"
                android:pathPattern="/contacts/.*/photo"/>
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <provider
            android:name="CallLogProvider"
            android:readPermission="android.permission.READ_CALL_LOG"
            android:writePermission="android.permission.WRITE_CALL_LOG"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="call_log"
            android:syncable="false"/>
        <provider
            android:name="ShadowCallLogProvider"
            android:readPermission="android.permission.MANAGE_USERS"
            android:writePermission="android.permission.MANAGE_USERS"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="call_log_shadow"
            android:syncable="false"
            android:directBootAware="true"/>
        <provider
            android:name="VoicemailContentProvider"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.android.voicemail"
            android:syncable="false"/>
        <provider
            android:name="ContactMetadataProvider"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.android.contacts.metadata"/>
        <receiver android:name="ContactsUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="PhoneAccountRegistrationReceiver"
            android:permission="android.permission.BROADCAST_PHONE_ACCOUNT_REGISTRATION">
            <intent-filter>
                <action android:name="android.telecom.action.PHONE_ACCOUNT_REGISTERED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="@string/debug_dump_title"
            android:name="com.android.providers.contacts.debug.ContactsDumpActivity">
            <intent-filter>
                <action android:name="com.android.providers.contacts.DUMP_DATABASE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.android.providers.contacts.debug.DumpFileProvider"
            android:exported="true"
            android:authorities="com.android.contacts.dumpfile"/>
    </application>
</manifest>
