<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.printspooler"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <permission
        android:name="com.android.printspooler.permission.ACCESS_ALL_PRINT_JOBS"
        android:protectionLevel="signature"/>
    <permission
        android:name="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.android.printspooler.permission.ACCESS_ALL_PRINT_JOBS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PRINT_SERVICES"/>
    <uses-permission android:name="android.permission.READ_PRINT_SERVICE_RECOMMENDATIONS"/>
    <application
        android:label="@string/app_label"
        android:allowClearUserData="true"
        android:allowBackup="false"
        android:supportsRtl="true">
        <service
            android:name="com.android.printspooler.model.PrintSpoolerService"
            android:permission="android.permission.BIND_PRINT_SPOOLER_SERVICE"
            android:exported="true"/>
        <service
            android:name="com.android.printspooler.renderer.PdfManipulationService"
            android:process=":renderer"
            android:isolatedProcess="true"/>
        <activity
            android:theme="@style/Theme.PrintActivity"
            android:name="com.android.printspooler.ui.PrintActivity"
            android:permission="android.permission.BIND_PRINT_SPOOLER_SERVICE"
            android:configChanges="fontScale|layoutDirection|density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc">
            <intent-filter>
                <action android:name="android.print.PRINT_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="printjob"
                    android:pathPattern="*"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.SelectPrinterActivity"
            android:label="@string/all_printers_label"
            android:name="com.android.printspooler.ui.SelectPrinterActivity"
            android:exported="false"
            android:parentActivityName=".ui.PrintActivity"/>
        <activity
            android:theme="@style/Theme.AddPrinterActivity"
            android:label="@string/print_add_printer"
            android:name="com.android.printspooler.ui.AddPrinterActivity"
            android:exported="false"
            android:parentActivityName=".ui.SelectPrinterActivity"/>
        <receiver
            android:name="com.android.printspooler.model.NotificationController.NotificationBroadcastReceiver"
            android:exported="false"/>
    </application>
</manifest>
