<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.inputdevices"
    coreApp="true"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <application
        android:label="@string/app_label"
        android:allowClearUserData="false"
        android:process="system"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">
        <receiver
            android:label="@string/keyboard_layouts_label"
            android:name="com.android.inputdevices.InputDeviceReceiver">
            <intent-filter>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS"
                android:resource="@xml/keyboard_layouts"/>
        </receiver>
    </application>
</manifest>
