<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="jp.co.benesse.dcha.apps.shareduserid"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="jp.co.benesse.touch.sbox">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23"/>
    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_DATA"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowClearUserData="false"
        android:allowBackup="false"
        android:supportsRtl="false">
        <provider
            android:label="SBOX"
            android:name="jp.co.benesse.touch.sbox.SboxProvider"
            android:permission="jp.co.benesse.dcha.permission.ACCESS_DATA"
            android:exported="true"
            android:authorities="jp.co.benesse.touch.sbox"/>
    </application>
</manifest>
