<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.browser"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <original-package android:name="com.android.browser"/>
    <permission
        android:label="@string/permission_preload_label"
        android:name="com.android.browser.permission.PRELOAD"
        android:protectionLevel="signatureOrSystem"/>
    <permission
        android:label="@string/permlab_readHomepage"
        android:name="com.android.browser.permission.READ_HOMEPAGE"
        android:protectionLevel="normal"
        android:description="@string/permdesc_readHomepage"/>
    <permission
        android:label="@string/permlab_writeHomepage"
        android:name="com.android.browser.permission.WRITE_HOMEPAGE"
        android:protectionLevel="normal"
        android:description="@string/permdesc_writeHomepage"/>
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HOMEPAGE"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HOMEPAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.mediatek.permission.omacp.install"/>
    <application
        android:label="@string/application_name"
        android:icon="@mipmap/ic_launcher_browser"
        android:name="Browser"
        android:taskAffinity="android.task.browser"
        android:backupAgent=".BrowserBackupAgent"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <provider
            android:name="com.android.browser.provider.BrowserProvider2"
            android:exported="false"
            android:multiprocess="false"
            android:authorities="com.android.browser.provider;MtkBrowserProvider"/>
        <activity
            android:label="Site Navigation"
            android:name="com.android.browser.sitenavigation.SiteNavigationAddDialog"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:theme="@style/BrowserTheme"
            android:label="@string/application_name"
            android:name="BrowserActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|mnc|mcc"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.speech.action.VOICE_SEARCH_RESULTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
            </intent-filter>
            <intent-filter android:priority="-101">
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme=""/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:theme="@style/ShortcutTheme"
            android:label="@string/shortcut_bookmark"
            android:icon="@mipmap/ic_launcher_shortcut_browser_bookmark"
            android:name="ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/menu_preferences"
            android:name="BrowserPreferencesPage">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/bookmarks_search"
            android:name="BookmarkSearch"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/bookmarks_searchable"/>
        </activity>
        <activity
            android:theme="@style/AddBookMarkDialogWhenLarge"
            android:label="@string/bookmarks_add_page"
            android:name="AddBookmarkPage"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/bookmark"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/ComboTheme"
            android:name="ComboViewActivity"
            android:launchMode="singleTop"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <receiver
            android:label="@string/bookmarks"
            android:name="com.android.browser.widget.BookmarkThumbnailWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.android.browser.BOOKMARK_APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bookmarkthumbnailwidget_info"/>
        </receiver>
        <service
            android:name="com.android.browser.widget.BookmarkThumbnailWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"/>
        <receiver
            android:name="com.android.browser.widget.BookmarkWidgetProxy"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Material.DialogWhenLarge"
            android:name="com.android.browser.widget.BookmarkWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BrowserActivity"/>
        <meta-data
            android:name="com.google.android.partnersetup.RLZ_ACCESS_POINT"
            android:value="@string/rlz_access_point"/>
        <provider
            android:name="com.android.browser.homepages.HomeProvider"
            android:exported="false"
            android:authorities="com.android.browser.home"/>
        <receiver android:name="com.android.browser.AccountsChangedReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.browser.PreloadRequestReceiver"
            android:permission="com.android.browser.permission.PRELOAD">
            <intent-filter>
                <action android:name="com.android.browser.intent.action.PRELOAD"/>
                <data android:scheme="http"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.android.browser.provider.SnapshotProvider"
            android:exported="false"
            android:authorities="com.android.browser.snapshots"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="com.android.browser-classic.file"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <provider
            android:name="com.android.browser.sitenavigation.SiteNavigationProvider"
            android:exported="false"
            android:authorities="com.android.browser.site_navigation"/>
        <receiver android:name="com.android.browser.ChangeSearchEngineReceiver">
            <intent-filter>
                <action android:name="com.android.browser.SEARCH_ENGINE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.browser.OmacpSettingReceiver">
            <intent-filter>
                <action android:name="com.mediatek.omacp.settings"/>
                <data android:mimeType="application/com.mediatek.omacp-w2"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.mediatek.omacp.capability"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
