<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.externalstorage"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:label="@string/app_label">
        <provider
            android:label="@string/storage_description"
            android:name="com.android.externalstorage.ExternalStorageProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="com.android.externalstorage.documents"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <receiver android:name="com.android.externalstorage.MountReceiver">
            <intent-filter>
                <action android:name="android.os.storage.action.VOLUME_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.android.externalstorage.TestDocumentsProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:enabled="false"
            android:exported="true"
            android:authorities="com.example.documents"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
    </application>
</manifest>
