<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.settings.intelligence"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <application
        android:label="@string/app_name_settings_intelligence"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true">
        <service
            android:name="com.android.settings.intelligence.suggestions.SuggestionService"
            android:permission="android.permission.BIND_SETTINGS_SUGGESTIONS_SERVICE"
            android:exported="true"/>
        <activity
            android:theme="@style/Theme.Settings.NoActionBar"
            android:name="com.android.settings.intelligence.search.SearchActivity"
            android:exported="true">
            <intent-filter priority="-1">
                <action android:name="com.android.settings.action.SETTINGS_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
