<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.location.fused"
    coreApp="true"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <application
        android:label="@string/app_label"
        android:process="system"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">
        <uses-library android:name="com.android.location.provider"/>
        <service
            android:name="com.android.location.fused.FusedLocationService"
            android:permission="android.permission.WRITE_SECURE_SETTINGS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.location.service.FusedLocationProvider"/>
            </intent-filter>
            <meta-data
                android:name="serviceVersion"
                android:value="0"/>
            <meta-data
                android:name="serviceIsMultiuser"
                android:value="true"/>
        </service>
    </application>
</manifest>
