<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.companiondevicemanager"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <permission
        android:name="com.android.companiondevicemanager.permission.BIND"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"/>
    <application
        android:label="@string/app_label"
        android:allowClearUserData="true"
        android:allowBackup="false"
        android:supportsRtl="true">
        <service
            android:name="com.android.companiondevicemanager.DeviceDiscoveryService"
            android:permission="android.permission.BIND_COMPANION_DEVICE_MANAGER_SERVICE"
            android:exported="true"/>
        <activity
            android:theme="@style/ChooserActivity"
            android:name="com.android.companiondevicemanager.DeviceChooserActivity"
            android:permission="android.permission.BIND_COMPANION_DEVICE_MANAGER_SERVICE">
            <intent-filter>
                <action android:name="android.companiondevice.START_DISCOVERY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
