<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="1.3.0"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.android.printservice.recommendation"
    platformBuildVersionCode="4"
    platformBuildVersionName="1.3.0">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="@string/app_label"
        android:allowClearUserData="false"
        android:allowBackup="false">
        <service
            android:name="com.android.printservice.recommendation.RecommendationServiceImpl"
            android:permission="android.permission.BIND_PRINT_RECOMMENDATION_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.recommendation.RecommendationService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
